@charset "UTF-8";



/*-------------------------------------------
firstview  トップ画面
-------------------------------------------*/
.firstview {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.fv-logo-fixed {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.fv-logo-fixed img {
  max-width: 160px;
  height: auto;
  border-radius: 5px;
}

.fv-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to right, #f0f8ff, #6495ed);
}

.fv-content {
  position: absolute;
  top: 55%;
  left: 0%;
  z-index: 1;
  max-width: 100%;
  height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fv_text {
  flex: 1;
  width: 100%;
  padding-left: 50px;
  position: relative;
}

.fv_vision {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 0.1;
  letter-spacing: 0.5em;
  transform: rotate(-7deg);
  display: inline-block;
  color: #465a7a;
  text-shadow: #fafafa 5px 5px 2px;
}

.fv_vision::after {
  content: "";
  display: block;
  width: 100vw;
  height: 3px;
  background-color: #ffa07a;
  margin: 40px auto 0;
}

.fv_catchphrase {
  font-size: 2rem;
  line-height: 1;
  margin: 0.1em 0;
  color: #465a7a;
  text-shadow: #fafafa 2px 2px 2px;
  transform: rotate(-7deg);
  /* display: inline-block; */
}

.fv_catchphrase:nth-of-type(1) {
  position: absolute;
  top: 120px;
  left: 100px;
  line-height: 0.7;
}

.fv_catchphrase:nth-of-type(2) {
  position: absolute;
  top: 150px;
  left: 190px;
  line-height: 0.1;
}

.fv_catchphrase:nth-of-type(3) {
  position: absolute;
  top: 165px;
  left: 430px;
  line-height: 0.1;
}

.fv-cta {
  position: absolute;
  top: 190px;
  right: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background: #ffa07a80;
  color: #465a7a;
  text-decoration: none;
  border-radius: 24px;
  font-weight: bold;
  transition: background 0.3s ease;
  gap: 2.5em;
}

.arrow {
  font-size: 1.2em;
  line-height: 1;
}

.btn-cta:hover {
  background: #ffa07a;
  color: #f0f8ff
}

/*-------------------------------------------
about  プロナビとは
-------------------------------------------*/
.sec-title-wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 10px 20px;
  text-align: center;
  overflow: hidden;
}

.about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14vw;
  color: #F2E3A2;
  z-index: 0;
  padding-bottom: 50px;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
  letter-spacing: 0.2em;
}

.about-subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding-bottom: 40px;
  font-size: 2.5rem;
  color: #465a7a;
  letter-spacing: 0.2em;
}

.about-lead-toggle {
  display: flex;
  align-items: flex-start;
  gap: 0.75em;
  margin-top: 12em;
  justify-content: center;
}

.about.open .about-description-summary {
  display: none;
}

.about.open .about-description-detail {
  display: block;
}

.accordion-toggle {
  font-size: 1.2rem;
  line-height: 1;
  padding-top: 45px;
  margin: 0;
  background: none;
  border: none;
  color: #465a7a;
  cursor: pointer;
}

.accordion-toggle.open {
  transform: rotate(180deg);
}

.about-lead {
  padding-bottom: 20px;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6;
  color: #465a7a;
}

.about-description-summary {
  background-image: url(../img/About1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em;
  display: block;
}

.about-description-summary p {
  margin-left: 100px;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1em;
  color: #465a7a;
  text-shadow: #fff 2px 2px 2px;
}

.about-description-summary p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.about-description-detail {
  background-color: #F0F8FF;
  color: #465a7a;
  display: none;
}

.about-detail-intro {
  margin-left: 100px;
  padding: 2em;
}

.about-detail-intro p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.about-detail-intro p:nth-child(2) {
  max-width: 800px;
  font-size: 1.1rem;
}

.about-detail-stats {
  margin: 0 120px 50px;
}

.about-detail-stats ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 2em 0;
  padding: 0;
  list-style: none;
}

.about-detail-stats li img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.about-detail-support {
  background-image: url(../img/about5.jpg);
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 600px;
  padding: 2em;
  border-radius: 8px;
  color: #465a7a;
  text-shadow: #F0F8FF 1px 1px 1px;
}

.about-detail-support p {
  margin: 0 100px 1.2em;
  font-size: 1.1rem;
}

.about-detail-support p:first-child {
  margin-top: 200px;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-detail-support p:nth-child(3) {
  margin-bottom: 50px;    
}

.about-detail-support span {
  font-weight: bold;
  font-size: 2rem;
  color: #d47c00;
}

.about-detail-mentors {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 3em 100px;
}

.about-detail-mentors .mentors-text {
  flex: 1 1 55%;
}

.about-detail-mentors .mentors-image {
  flex: 1 1 40%;
  text-align: right;
  border-radius: 30px;
}

.about-detail-mentors .mentors-image img {
  border-radius: 30px;
}

.about-detail-mentors .mentors-text p:nth-child(1),
.about-detail-mentors .mentors-text p:nth-child(2),
.about-detail-mentors .mentors-text p:nth-child(3),
.about-detail-mentors .mentors-text p:nth-child(4),
.about-detail-mentors .mentors-text p:nth-child(6) {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.about-detail-mentors .mentors-text p:nth-child(4) {
  margin-bottom: 1.2em;
}

.about-detail-mentors .mentors-text p:nth-child(5) {
  margin-bottom: 1.5em;
}

.about-detail-mentors span {
  font-weight: bold;
  color: #F2E3A2;
  text-shadow: #465a7a 2px 1px 1px;
}

.about-detail-customize {
  background-image: url(../img/About7.jpg);
  background-size: 100% auto;
  position: relative;
  min-height: 650px;
}

.about-detail-customize p {
  margin: 0 100px;
}

.about-detail-customize p:nth-child(1) {
  padding-top: 50px;
}

.about-detail-customize p:nth-child(1), 
.about-detail-customize p:nth-child(2), 
.about-detail-customize p:nth-child(3), 
.about-detail-customize p:nth-child(4) {
  font-size: 1.5rem;
  font-weight: bold;
}

.about-detail-customize p:nth-child(4) {
  margin-bottom: 2em;
}

.about-detail-customize p:nth-child(5) {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.sns {
  padding-bottom: 50px;
}

.sns ul {
  display: flex;
  justify-content: center;
  gap: 5em;
  list-style: none;
  padding: 0;
  margin-top: 2em;
  transform: translateX(-15%);
  position: relative;
}

.sns li {
  text-align: center; /* 中央揃え */
}

.sns li a {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center;
  text-decoration: none;
  color: #465a7a;
  font-weight: bold;
  gap: 0.5em;
}

.sns li img {
  width: 150px;
  height: auto;
  border: 2px solid #F2E3A2;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.sns li img:hover {
  transform: scale(1.1);
  border: 4px solid #F2E3A2;
}

.about-cta {
  position: absolute;
  top: 550px;
  left: 250px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background: #ffa07a80;
  color: #465a7a;
  text-decoration: none;
  border-radius: 24px;
  font-weight: bold;
  transition: background 0.3s ease;
  gap: 2.5em;
}

/*-------------------------------------------
flow 受講の流れ
-------------------------------------------*/
.flow {
  background-color: #FAFAFA;
  padding-bottom: 100px;
}

.flow-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.flow-text {
  width: 50%;
  height: 400px;
  overflow: hidden;
  border-bottom: 1px solid #B6B4B4;
}

.row {
  transition: flex 0.4s ease;
  overflow: hidden;
}

.row .title {
  padding: 10px;
  flex: 1;
  border-top: #B6B4B4 1px solid;
  color: #6495ED;
  font-weight: bold;
  font-size: 25px;
}

.row .detail {
  padding: 10px;
  display: none;
  pointer-events: none;
}

.row.active .title {
  color: #4169E1;
}

.row.active .detail {
  display: block;
}

.row.active .detail {
  display: block;
}

.image-area {
  width: 50%;
  height: 400px;
  position: relative;
  padding-inline: 50px;
}

.image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform-origin: left center;
}














































































































































































































































































/*-------------------------------------------
price
-------------------------------------------*/
/* PRICEセクション全体 */
.price {
  /* max-width: 800px; */
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 60px 20px;
  background-color: #F0F8FF;
  /* 優しい青系背景 */
  border-radius: 10px;
  /* font-family: 'Arial', sans-serif; */
  text-align: center;
}

.price-wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 50px 10px;
  background-color: #fff;
  /* 枠内の背景 */
  border: 2px solid #333;
  /* 枠線 */
  border-radius: 12px;
  /* 角丸 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* セクションタイトル */
.price .sec-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* サブタイトル */
.price .price-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

/* プランタイトル */
.price-plan-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #4a90e2;
}

/* 料金表示 */
.price-amount {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 45px;
  /* border-bottom: #333 solid 1px; */
}

/* 特典リスト */
.price-benefits {
  list-style: none;
  /* デフォルトの丸を消す */
  padding: 0;
  margin: 0 auto;
  max-width: 500px;
}

/* 特典アイテム */
.price-benefit-item {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

/* 最後のアイテムのマージン調整 */
.price-benefit-item:last-child {
  margin-bottom: 0;
}

/*-------------------------------------------
faq
-------------------------------------------*/
.faq {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 60px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  /* font-family: 'Arial', sans-serif; */
}

.faq .sec-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.faq .faq-subtitle {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

/* 質問 */
.faq-question {
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* Q番号 */
.faq-number {
  font-weight: bold;
  color: #4a90e2;
  margin-right: 10px;
}

/* 回答 */
.faq-answer {
  display: none;
  /* 初期非表示 */
  margin-top: 10px;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

/* Aラベル */
.faq-label {
  font-weight: bold;
  color: #d81212;
  margin-right: 8px;
}

/* ホバーで回答表示 */
.faq-item:hover .faq-answer {
  display: block;
}

/* ホバー時浮き上がり */
.faq-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/*-------------------------------------------
footer
-------------------------------------------*/
footer {
  background-color: #6495ED;
  padding: 40px 20px;
  text-align: center;
  margin: 0 auto;
}

.header_title {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 30px;
  justify-content: center;
}

.header_logo img {
  max-width: 150px;
  height: auto;
}

.footer_nav {
  margin-top: 10px;
}

.footer_nav_menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer_nav_list a {
  color: #252525;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer_nav_list a:hover {
  color: #FAFAFA;
}

.footer-copy {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.8;
}