@charset "UTF-8";
/*-------------------------------------------
flow 受講の流れ
-------------------------------------------*/
.flow{
  background-color: #FAFAFA;
  padding-bottom: 100px;
}

.flow-wrapper{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.flow-text {
  width: 50%;
  height: 400px;
  overflow: hidden;
  border-bottom: 1px solid #B6B4B4;
}

.row {
  transition: flex 0.4s ease;
  overflow: hidden;
}

.row .title {
  padding: 10px;
  flex:1;
  border-top: #B6B4B4 1px solid;
  color: #6495ED;
  font-weight: bold;
  font-size: 25px;
}

.row .detail {
  padding: 10px;
  display: none;
  pointer-events: none;
}

.row.active .title{
  color: #4169E1;
}

.row.active .detail {
  display: block;
}

.row.active .detail {
  display: block;
}

.image-area {
  width: 50%;
  height: 400px;
  position: relative;
  padding-inline: 50px;
}

.image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transform-origin: left center;
}
